.toastGraphWrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: min(25%, 250px);
    aspect-ratio: 2 / 1;
    margin: 0 auto;
    border-radius: 4px;
    /* background: transparent; */
    background: white;
    border: 1px solid whitesmoke;
    /* cursor: pointer; */
}