
.card {
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 32px;
  width: 340px;
  max-width: 100vw;
}
.card h2 {
  text-align: center;
  margin-top: -8px;
  margin-bottom: 16px;
}